html body {
  background-color: cornsilk;
}

.text-box {
  height: 40px;
  border-radius: 4px;
  width: 275px;
}

.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.center {
  display: block;
  overflow: hidden;
  padding-left: 350px;
  margin-right: auto;
}

.dropdown .dropbtn {
  font-size: 18px;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
}

.navigation a {
  margin: auto;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a :hover .dropdown:hover .dropbtn {
  color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.box a {
  margin: auto;
  color: crimson;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navigation a:hover {
  color: blue;
  border-radius: 5px;
}

.navigation a:active {
  color: white;
  border-radius: 5px;
}

.box {
  border-color: black;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}

.fieldset {
  width: 400px;
  background-color: #f0eedc;
  border-radius: 8px;
}

.label {
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(114, 56, 56);
}

.box a:hover {
  background-color: crimson;
  color: white;
  border-radius: 5px;
}

.box a:active {
  color: white;
  border-radius: 5px;
}
